name: Deploy to Firebase Hosting
on:
  push:
    branches:
      - main  # Ou 'master', confirme o nome da sua branch principal

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      # (Opcional) Se você usar npm/node no futuro, descomente estas linhas
      # - run: npm ci && npm run build

      - uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT }}'
          channelId: live
          projectId: gestao-frota-prefeitura # CONFIRA SE ESTE É O ID DO SEU PROJETO FIREBASE
